* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
/* Dùng chung */
.grid {
    width: 1460px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
} 

.pb80 {
    padding-bottom: 80px;
}

.pt80 {
    padding-top: 80px;
}

.mr-36 {
    margin-right: -36px;
}

.ml-26 {
    margin-left: 26px;
}
/* dùng chung-end */

.header {
    background-color: rgba(0, 0, 0, 0.404);
    height: 112px;
    top: 0px;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(10px);
    width: 1920px;
    transition: top 0.5s;
}

.header__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -30px 30px 30px 30px;
    height: 112px;
}

li, a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}

.header__nav-list {
    list-style: none;
}

.header__nav-item-link {
    display: inline-block;
    position: relative;
    color:rgb(255, 255, 255);
}

.header__nav-item-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #f9fafa;
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.header__nav-item-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.header__nav-list li {
    display: inline-block;
    padding: 0 20px;
}

.nav_icon {
    padding: 12px;
    font-size: 18px;
}
.nav_icon:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* container */
.container {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

/* slide */
.slideshow {
    background-color: black;
    height: 740px;
    padding: 112px 0px 0px 0px;
}

/* contact */

.contact-wrapper {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 64px;
    height: 500px;
    border-radius: 12px;
}

.contact-wrapper__content {
    width: 50%;
    line-height: 2;
}

.contact-wrapper__content > p {
    font-weight: 600;
}

.contact-wrapper__content > h3 {
    font-size: 48px;
    font-weight: 300;
}

.contact-wrapper__form {
    width: 50%;
    height: 360px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding: 40px 48px;
    border-radius: 8px;
}

.form_control {
    padding: 24px 10px;
    width: 90%;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 4px;
}

.form_control2 {
    width: 100%;
    padding: 24px 10px 60px 10px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 4px;
}

.contact-wrapper_container {
    display: flex;
    justify-content: space-between;
}

.contact-wrapper__dong1 {
    width: 100%;
    margin-bottom: 20px;
}

.contact-wrapper__dong2 {
    width: 100%;
    margin-bottom: 20px;
}

.contact-wrapper_btn {
    background-color: #333;
    color: #f0f0f0;
    padding: 18px 40px;
    border-radius: 42px;
    font-size: 16px;
}

.contact-wrapper_btn:hover {
    opacity: 0.7;
    cursor: pointer;
}



/* text-with-icons */
.text-with-icons {
    height: 360px;
}


.text-with-icons_container {
    display: flex;
    justify-content:space-between;
    padding: 60px 80px 60px 120px;
    background-color: #fff;
    border-radius: 12px;
}

.text-with-icons_items {
    text-align: center;
}

.text-with-icons_desc {
    padding-top: 10px;
    line-height: 2.2;
}

.heading-p {
    font-size: 20px;
}

.text-with-icons_desc > p > a {
    color: #000;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.text-with-icons_desc > p > a:hover {
    color: rgba(0, 0, 0, 0.7);
}




/* footer */
.footer {
    background-color: #000;
}

.footer-container {
    color: #fff;
    padding: 60px 0;
}

.footer-collection {
    display: flex;
    justify-content: space-between;
    line-height: 2.4;
    
}

.footer-collection_newsletter {
    display: block;
}

.h-form {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.footer-collection_newsletter-img {
    margin: 60px 0;
}

.footer-collection_newsletter-text > input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid  rgb(117, 116, 116);
    background-color: #333;
    color: #fff;
    padding-left: 10px;
}


.footer-list {
    margin-top: 15px;
}
.footer-list_item {
    list-style: none;
}

.footer-list_item > a {
    font-weight: 500;
    color: rgb(172, 170, 170);
}
.footer-list_item > a:hover {
    color: #fff;
}

.link-desc  {
    display: block;
    max-width: 240px;
    line-height: 1.6;
}

.footer_bottom {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
    color: rgb(172, 170, 170);
    margin-top: 80px;
}